*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(52,52,52,0.2);
	font-family: "HelveticaNeue LT 55 Roman", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

#clear {
clear: both;
}

#discharged {
	background: url(../images/bk_swedish_main.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: inline-block;
	position: absolute;
	z-index: 0;
}

#discharged p.discharged	{
	font-size: 40px;
	letter-spacing: 5px;
	text-align: center;
	color: #55a0d5;
	margin-top: 230px;
}

#discharged p.watchtv	{
	font-size: 44px;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
	color: #55a0d5;
	margin-top: 175px;
}

#overlay {
	background: #000000;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 999;
}

#overlay #channelinfo {
	/*background: #56a2d6;*/
	background: #113663;
	color: white;
	width: 400px;
	height: 75px;
	display: none;
	position: absolute;
	margin-top: 25px;
	margin-left: 25px;
}

#overlay #channelinfo p {
	font-size: 32px;
	font-weight: bold;
	padding: 25px;
}

/* test overlay */

#testoverlay {
	height: 100%;
	width: 100%;
	display: none;
	z-index: 999;
}

#testoverlay p {
	color: red;
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: 15px;
	margin-left: 1140px;
	font-size: 48px;
	font-weight: normal;
}

#footer {
	width: 1280px;
	height: 25px;
	margin-top: 720px;
	position: absolute;
	z-index: 100;
}

#footer p.copyright {
	margin: 0px auto 0px auto;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	color: rgba(67,67,67,0.75);
	position: relative;	
}

#kookies	{
	display: none;
}

#preload	{
	display: none;
}
