*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(52,52,52,0.2);
	font-family: "HelveticaNeue LT 55 Roman", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

#clear {
clear: both;
}

/* primary panel */

#primary {
	background: url(../images/bk_swedish_main.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: inline-block;
	position: absolute;
	z-index: 0;
}

#header {
	width: 1280px;
	height: 225px;
	position: absolute;
	z-index: 100;
}

#header div#patient	{
	width: 700px;
	min-height: 75px;
	float: left;
	margin: 110px 0px 0px 60px;
	position: absolute;
	display: inline-block;
}

#header div#patient p	{ 
	line-height: 28px;
	font-size: 26px;
	font-weight: 500;
	text-align: left;
	color: #000000;
}

#header div#patient p.name	{ 
	line-height: 36px;
	font-size: 32px;
	font-weight: 400;
	text-align: left;
	color: #55a0d5;
}

#header div#datetime	{
	width: 400px;
	height: 25px;
	float: right;
	margin: 175px 60px 0px 0px;
	position: relative;	
}

#header div#datetime p	{ 
	line-height: 20px;
	font-size: 24px;
	text-align: right;
	color: #000000;
}

#navigation {
	width: 1280px;
	height: 60px;
	margin-top: 220px;
	position: absolute;
	z-index: 75;
}

#navigation div#menubar	{
/*	background: #55a0d5;*/
	width: 1280px;
	height: 60px;
	border: none;
	padding: 0px;
	margin: 0px;
	position: relative;
	z-index: 70;
}

#navigation div#menu	{
	width: 1200px;
	height: 60px;
	border: none;
	padding: 0px;
	margin: 0px 60px 0px 60px;
	position: relative;
	z-index: 75;
}

#navigation div#menu a	{
	color: #56a2d6;
	width: 230px;
	height: 61px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	float: left;
	font-size: 30px;
	line-height: 60px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	position: relative;
}

#navigation div#menu a.active 	{
	background: #55a0d5;
	color: #ffffff;
}

#navigation div#menuitems	{
	width: 1200;
	height: 60px;
	border: none;
	padding: 0px;
	margin: 5px 60px 0px 60px;
	position: relative;
}

#navigation div#menuitems div#submenu	{
	width: 230px;
	min-height: 60px;
	border: 0px;
	margin: 0px auto 0px auto;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#navigation div#menuitems div#submenu a	{
	background: rgba(19,56,101,0.75);
	color: #ffffff;
	width: 230px;
	height: 50px;
	border: none;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	position: relative;
	display: block;
}

#navigation div#menuitems div#submenu a span	{
	font-size: 28px;
	line-height: 40px;
	font-weight: 300;
	padding-left: 10px;
	text-align: left;
	display: block;
}

#navigation div#menuitems div#submenu a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}


#images{
	display: block;
	width: 1280px;
	height: 435px;
	margin-top: 285px;
	position: absolute;
	z-index: 25;
}

#pictures {
	width: 1160px;
	height: 435px;
	border: none;
	padding: 0px;
	margin: 0px auto 0px auto;
	position: relative;
	display: block;
}

#pictures div#mainpanel	{
	height: 100%;
	width: 100%;
	margin: 0px;
}

#pictures div#mainpanel p	{
	color: #b1da92;
	position: absolute;
}

#pictures div#mainpanel p.text1	{
	height: 150px;
	width: 475px;
	margin-left: 50px;
	margin-top: 25px;
	font-size: 28px;
	line-height: 36px;
}

#pictures div#mainpanel p.text2	{
	color: #ffffff;
	height: 100px;
	width: 475px;
	margin-left: 50px;
	margin-top: 235px;
	font-size: 28px;
	line-height: 36px;
}

#pictures div#mainpanel p.text3	{
	color: #ffffff;
	height: 100px;
	width: 280px;
	font-size: 28px;
	margin-top: 15px;
	margin-left: 793px;
	line-height: 45px;
}

#pictures div#mainpanel img	{
	position: absolute;
	z-index: 100;
}

#pictures div#mainpanel img.remote	{
	height: 448px;
	width: 241px;
	margin-top: -33px;
	margin-left: 550px;	
}

#pictures div#mainpanel img.arrows	{
	height: 448px;
	width: 241px;
	margin-top: -33px;
	margin-left: 550px;	
	z-index: 101;
}

/* secondary panel */

#secondary {
	background: url(../images/bk_swedish_secondlevel1_final.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 0;
}

#secondary div#secondaryLeft	{
	width: 330px;
	height: 580px;
	margin: 140px auto auto 65px;
	display: inline-block;
	float: left;
	position: absolute;
	display: none;
}

#secondary div#secondaryLeft div#secondaryTitle	{
	width: 324px;
	height: 52px;
	border: 0px;
	margin: 3px 3px 3px 3px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary div#secondaryLeft div#secondaryTitle.submenu	{
	width: 328px;
	height: 54px;
	border: 0px;
	margin: 5px 0px 4px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary div#secondaryLeft div#secondaryTitle p.menu	{
	width: 100%;
	color: #ffffff;
	margin-top: 20px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 300;
	text-align: center;
}

#secondary div#secondaryLeft div#secondaryTitle p.submenu	{
	width: 100%;
	color: #ffffff;
	margin-top: 10px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
}

#secondary div#secondaryLeft div#choices	{
	width: 330px;
	height: 310px;
	border: 0px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary div#secondaryLeft div#choices p	{
	color: #ffffff;
	width: 328px;
	height: 258px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 25px auto 0px auto;
	font-size: 32px;
	line-height: 56px;
	text-align: center;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a	{
	color: #ffffff;
	width: 328px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-top: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a.more	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a.dim	{
	background: rgba(86,162,214,0.75);
	color: #ababab;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a.back	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a.mainmenu	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a span	{
	font-size: 32px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 50px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary div#secondaryLeft div#choices a span.more, #secondary div#secondaryLeft div#choices a span.back, #secondary div#secondaryLeft div#choices a span.mainmenu	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#secondary div#secondaryLeft div#choices a span.dim	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#secondary div#secondaryLeft div#choices a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}

#secondary div#secondaryRight	{
	width: 880px;
	height: 518px;
	margin: 202px auto auto 400px;
	float: left;
	position: relative;
	display: none;
}

#secondary div#secondaryRight p.panelimage	{
	width: 875px;
	height: 518px;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	font-size: 28px;
	line-height: 62px;
	text-align: center;
}

#secondary div#secondaryRight p.panelimage img	{
	width: 875px;
}

#secondary div#secondaryRight div#slides {
	width: 875px;
	height: 518px;	
	color: #ffffff;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 28px;
	line-height: 42px;	
	float: left;
	display: block;
}

#secondary div#secondaryRight div#slides div#youarein	{
	text-align: center;
	margin: 10px 0px 50px 0px;
	font-size: 28px;
	line-height: 28px;
	text-align: center;	
}

#secondary div#secondaryRight div#slides div#instructions	{
	color: #b1da92;
	text-align: center;
/* CHANGE BEG: 20120209-1000 bsears - low priority change: textual changes on Visit->About Swedish->Dining pages */
	/*margin: 415px 0px 0px 75px;*/
	margin: 465px 0px 0px 75px;
/* CHANGE END: 20120209-1000 bsears - low priority change: textual changes on Visit->About Swedish->Dining pages */
	text-align: left;
}

#secondary div#secondaryRight div#slides div#slide	{
	width: 775px;
	min-height: 225px;
	margin: 0px 0px 0px 75px;
	position: absolute;
	display: inline-block;
}

#secondary div#secondaryRight div#slides div#slide p	{
	margin: 0px 0px 0px 0px;
	font-size: 28px;
	line-height: 38px;
	color: #ffffff;
}

#secondary div#secondaryRight div#slides div#slide p.title	{
	width: 600px;
	color: #ffffff;
}

#secondary div#secondaryRight div#slides div#slide p.panel	{
	width: 640px;
	margin-top: 50px;
	font-size: 32px;
	line-height: 48px;	
	float: left;
}

#secondary div#secondaryRight div#slides div#slide p.shops	{
	margin-top: 20px;
	margin-bottom: 5px;
	height: 385px;
	width: 100%;
	float: left;
	display: inline;
}

#secondary div#secondaryRight div#slides div#slide p.shops img	{
	float: right;
	/*width: 200px;*/
	padding: 0px 25px 0px 25px;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.left	{
	padding: 0px 20px 10px 0px;
	float: left;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.bewell	{
	margin-top: -15px;
	padding-bottom: 25px;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.perfect	{
	margin-top: -50px;

}

#secondary div#secondaryRight div#slides div#slide p.shops img.comfort	{
	padding: 0px 0px 0px 0px;
	margin: -20px 30px 0px -40px;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.lily	{
	padding: 0px 0px 0px 10px;
	margin: 35px 30px 0px -40px;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.cafe1910	{
	padding: 0px 20px 0px 35px;
	margin-top: -15px;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.cafe	{
	margin-top: 5px;
}

#secondary div#secondaryRight div#slides div#slide p.shops span	{
	color: #b1da92;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.li	{
	width: 14px;
	float: left;
	padding-top: 3px;
	margin: 10px -10px 0px 10px;
}

#secondary div#secondaryRight div#slides div#slide p.shops img.li2	{
	width: 14px;
	float: left;
	padding-top: 3px;
	margin: 10px -10px 30px 10px;
}

#secondary div#secondaryRight div#slides div#slide p.column	{
	width: 100%;
	float: left;
}

#secondary div#secondaryRight div#slides div#slide p.column span	{
	margin-left: 50px;
}

#secondary div#secondaryRight div#slides div#slide p.column1	{
	width: 50%;
	float: left;
}

#secondary div#secondaryRight div#slides div#slide p.column2	{
	width: 50%;
	float: left;
}

#secondary div#secondaryRight div#choicepanel	{
	color: #ffffff;
	width: 725px;
	height: 480px;
	margin: 0px 0px 0px 75px;
	font-size: 30px;
	line-height: 43px;
	font-weight: 300;
	text-align: left;	
	position: absolute;
	display: block;
	z-index: 500;
}

/*#secondary div#secondaryRight div#slide	{
	color: #ffffff;
	width: 525px;
	border: none;
	margin: 50px auto 0px 0px;
	padding: 0px;
	font-size: 32px;
	line-height: 46px;
	text-align: left;
	float: left;
	position: absolute;
	display: block;
	z-index: 600;
}*/

#secondary div#secondaryRight div#choicepanel p	{
	color: #ffffff;
	width: 450px;
	border: none;
	margin: 50px auto 0px 25px;
	padding: 0px;
	font-size: 32px;
	line-height: 46px;
	text-align: left;
	float: left;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#choicepanel p.panelfull	{
	width: 630px;
	margin: 50px auto 0px 25px;
}

#secondary div#secondaryRight div#choicepanel p.panelinfo	{
	width: 600px;
	margin: 75px auto 0px 0px;
	font-size: 30px;
	line-height: 48px;
	letter-spacing: 1px;
}

#secondary div#secondaryRight div#choicepanel p.panel	{
	width: 525px;
	margin: 50px auto 0px 0px;
}

#secondary div#secondaryRight div#choicepanel p.panel span.name	{
	color: #b1da92;
}

#secondary div#secondaryRight div#choicepanel p.panel span.tab1	{
	margin-left: 25px;
}

#secondary div#secondaryRight div#choicepanel p.panel span.tab2	{
	margin-left: 175px;
}

#secondary div#secondaryRight div#choicepanel p.panelwide	{
	width: 700px;
	margin: 50px auto 0px 0px;
}

#secondary div#secondaryRight div#choicepanel img	{
	margin-top: 0px;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel1	{
	width: 406px;
	height: 310px;
	border: 0px;
	margin: 0px;
	margin-top: 75px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel1 p	{
	width: 331px;
	height: 43px;
	border: none;
	margin: 0px;
	margin-left: 75px;
	padding: 0px;
	padding-top: 10px;
	float: left;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel2	{
	width: 310px;
	height: 310px;
	border: 0px;
	margin: 0px;
	margin-top: 75px;
	padding: 0px;
	float: right;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel2 img	{
	float: right;
}

#secondary div#secondaryRight div#choicepanel div#choicepanel3	{
	width: 681px;
	height: 50px;
	border: 0px;
	margin: 25px 0px 0px 0px;
	line-height: 50px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#selections	{
	background: #173453;
	width: 485px;
	height: 270px;
	border: 0px;
	margin: 60px 0px 0px -5px;
	padding: 0px;
	padding-top: 20px;
	float: left;
	position: absolute;
	display: none;
	z-index: 499;
}

#secondary div#secondaryRight div#selections a	{
	color: #ffffff;
	width: 485px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-bottom: 10px;
	position: relative;
	display: block;
}


#secondary div#secondaryRight div#selections a span	{
	font-size: 30px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 150px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary div#secondaryRight div#selections a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}

#secondary div#secondaryRight div#comments	{
	color: #ffffff;
	width: 500px;
	margin: 75px 0px 0px 50px;
	display: inline-block;
}

#secondary div#secondaryRight div#comments p	{
	font-size: 28px;
	line-height: 36px;
	font-weight: 300;
	text-align: left;
}

/* secondary movies panel */

#secondary.movies {
	background: url(../images/bk_swedish_movies_final.jpg) top center no-repeat;
}

/* secondary myprograms,allprograms panel */

#secondary.myprograms,
#secondary.allprograms {
	background: url(../images/bk_swedish_myprograms_final.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 0;
}

#secondary.myprograms div#secondaryLeft,
#secondary.allprograms div#secondaryLeft	{
	width: 603px;
	height: 580px;
	margin: 140px auto auto 65px;
	display: inline-block;
	float: left;
	position: absolute;
	display: none;
}

#secondary.myprograms div#secondaryLeft div#secondaryTitle,
#secondary.allprograms div#secondaryLeft div#secondaryTitle	{
	width: 600px;
	height: 52px;
	border: 0px;
	margin: 3px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary.myprograms div#secondaryLeft div#secondaryTitle.submenu,
#secondary.allprograms div#secondaryLeft div#secondaryTitle.submenu	{
	width: 600px;
	height: 54px;
	border: 0px;
	margin: 5px 0px 4px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;		
}

#secondary.myprograms div#secondaryLeft div#secondaryTitle p.menu,
#secondary.allprograms div#secondaryLeft div#secondaryTitle p.menu	{
	width: 100%;
	color: #ffffff;
	margin-top: 20px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 300;
	text-align: center;
}

#secondary.myprograms div#secondaryLeft div#secondaryTitle p.submenu,
#secondary.allprograms div#secondaryLeft div#secondaryTitle p.submenu	{
	width: 100%;
	color: #ffffff;
	margin-top: 10px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
}

#secondary.myprograms div#secondaryLeft div#choices,
#secondary.allprograms div#secondaryLeft div#choices	{
	width: 598px;
	height: 310px;
	border: 0px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary.myprograms div#secondaryLeft div#choices a,
#secondary.allprograms div#secondaryLeft div#choices a	{
	color: #ffffff;
	width: 100%;
	height: 43px;
	border: none;
	margin: 0px 2px 0px 2px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a.more,
#secondary.allprograms div#secondaryLeft div#choices a.more	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a.dim,
#secondary.allprograms div#secondaryLeft div#choices a.dim	{
	background: rgba(86,162,214,0.75);
	color: #ababab;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a.back,
#secondary.allprograms div#secondaryLeft div#choices a.back	{
	background: rgba(86,162,214,0.75);
	width: 297px;
	color: #ffffff;
	border: none;
	margin-top: 3px;
	margin-right: 3px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a.mainmenu,
#secondary.allprograms div#secondaryLeft div#choices a.mainmenu	{
	background: rgba(86,162,214,0.75);
	width: 296px;
	color: #ffffff;
	border: none;
	margin-top: 3px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
	float: right;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a span,
#secondary.allprograms div#secondaryLeft div#choices a span	{
	font-size: 32px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 50px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryLeft div#choices a span.more, 
#secondary.myprograms div#secondaryLeft div#choices a span.back, 
#secondary.myprograms div#secondaryLeft div#choices a span.mainmenu,
#secondary.allprograms div#secondaryLeft div#choices a span.more, 
#secondary.allprograms div#secondaryLeft div#choices a span.back, 
#secondary.allprograms div#secondaryLeft div#choices a span.mainmenu	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#secondary.myprograms div#secondaryLeft div#choices a span.dim,
#secondary.allprograms div#secondaryLeft div#choices a span.dim	{
	color: #ababab;
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#secondary.myprograms div#secondaryLeft div#choices a span.active,
#secondary.allprograms div#secondaryLeft div#choices a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}

/* secondary myprograms secondaryRight*/
/*
#secondary.myprograms div#secondaryRight	{
	width: 875px;
	height: 518px;
	margin: 202px auto auto 400px;
	float: left;
	position: relative;
	display: none;
}

#secondary.myprograms div#secondaryRight div#choicepanel	{
	color: #ffffff;
	width: 725px;
	height: 480px;
	margin: 0px 0px 0px 75px;
	font-size: 30px;
	line-height: 43px;
	font-weight: 300;
	text-align: left;	
	position: absolute;
	display: block;
	z-index: 499;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1	{
	width: 406px;
	height: 310px;
	border: 0px;
	margin: 0px;
	margin-top: 75px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1 p	{
	width: 331px;
	height: 43px;
	border: none;
	margin: 0px;
	margin-left: 75px;
	padding: 0px;
	padding-top: 10px;
	float: left;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel2	{
	width: 310px;
	height: 310px;
	border: 0px;
	margin: 0px;
	margin-top: 75px;
	padding: 0px;
	float: right;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel2 img	{
	float: right;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel3	{
	width: 681px;
	height: 50px;
	border: 0px;
	margin: 25px 0px 0px 0px;
	line-height: 50px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#selections	{
	background: #173453;
	width: 485px;
	height: 270px;
	border: 0px;
	margin: 60px 0px 0px -5px;
	padding: 0px;
	padding-top: 20px;
	float: left;
	position: absolute;
	display: none;
	z-index: 500;
}

#secondary.myprograms div#secondaryRight div#selections a	{
	color: #ffffff;
	width: 485px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-bottom: 10px;
	position: relative;
	display: block;
}


#secondary.myprograms div#secondaryRight div#selections a span	{
	font-size: 30px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 150px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#selections a span.active		{
	background: rgba(137,220,71,0.75);
}*/

/* secondary allprograms secondaryRight*/

#secondary.myprograms div#secondaryRight,
#secondary.allprograms div#secondaryRight	{
	width: 586px;
	height: 518px;
	margin: 202px auto auto 673px;
	float: left;
	position: relative;
	display: none;
}

#secondary.myprograms div#secondaryRight div#choicepanel,
#secondary.allprograms div#secondaryRight div#choicepanel	{
	color: #ffffff;
	width: 586px;
	height: 375px;
	margin: 60px 0px 0px 0px;
	font-size: 32px;
	line-height: 43px;
	font-weight: 300;
	text-align: left;	
	position: absolute;
	display: inline-block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel1	{
	width: 521px;
	height: 267px;
	border: 0px;
	margin: 5px 0px 0px 50px;
	padding: 0px;
	float: left;
	position: absolute;
	display: block;
	z-index: 500;	
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1 p,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel1 p	{
	width: 100%;
	height: 43px;
	border: none;
	margin: 0px 2px 0px 2px;
	padding: 0px;
	float: left;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel1 img.checkmark,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel1 img.checkmark	{
	width: 35px;
	border: none;
	margin: 0px 0px 0px -45px;
	padding: 0px;
	float: left;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel2,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel2	{
	width: 521px;
	height: 43px;
	border: 0px;
	margin: 280px 0px 0px 50px;
	line-height: 43px;
	padding: 0px;
	float: left;
	position: absolute;
	display: block;
	z-index: 490;	
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel2 img,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel2 img	{
	width: 30;
	margin-top: 0px;
	float: left;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel3,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel3	{
	width: 521px;
	height: 43px;
	border: 0px;
	margin: 330px 0px 0px 50px;
	font-size: 28px;
	line-height: 43px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
	z-index: 500;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4	{
	background: #173453;
	width: 571px;
	height: 324px;
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	padding-top: 6px;
	float: left;
	position: absolute;
	display: none;
	z-index: 495;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a	{
	color: #ffffff;
	width: 517px;
	height: 43px;
	border: none;
	margin: 0px 2px 0px 2px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a.more,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a.more	{
	background: rgba(86,162,214,0.75);
	width: 282px;
	border: none;
	margin-top: 3px;
	margin-right: 1px;
	padding: 0px;
	margin-top: 18px;
	float: left;
	position: relative;
	display: block;
}

#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a.dim	{	
	background: rgba(86,162,214,0.75);
	color: #ababab;
	width: 282px;
	border: none;
	margin-top: 3px;
	margin-right: 1px;
	padding: 0px;
	margin-top: 18px;
	float: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a.back,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a.back	{
	background: rgba(86,162,214,0.75);
	width: 282px;
	border: none;
	margin-top: 3px;
	margin-right: 2px;
	padding: 0px;
	margin-top: 18px;
	float: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a span,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span	{
	width: 100%;
	font-size: 30px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 50px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.more,
#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.back,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.more,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.back	{
	color: #ffffff;
	font-size: 28px;
	text-align: center;
	padding-left: 0px;
}

#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.dim	{	
	color: #ababab;
	font-size: 28px;
	text-align: center;
	padding-left: 0px;
}

#secondary.myprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.active,
#secondary.allprograms div#secondaryRight div#choicepanel div#choicepanel4 a span.active		{
	width: 100%;
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}

/* carousel */

#secondary div#secondaryRight div#carousel {
	height: 467px;
	width: 800px;
	margin-left: -25px;
	position: absolute;
	display: inline-block;

}


#secondary div#secondaryRight div#carousel div#carouselTitle {
	height: 35px;
	width: 800px;
	padding-top: 5px;
	padding-bottom: 10px;
	position:absolute;	
	display: block;
	z-index: 500;
}

#secondary div#secondaryRight div#carousel div#carouselTitle p {
	width: 100%;
	margin: 0px 0px 0px -15px;
	font-weight: normal;
	font-size: 36px;
	color: white;
	text-align: center;
}

#secondary div#secondaryRight div#carousel div#carouselOverlay {
	border: 7px solid #66cc66;
	/*background: url(../images/mov_poster_current.png) 253px 0px no-repeat;*/
	height: 335px;
	width: 250px;
	margin: 53px 0px 0px 252px;
	
	opacity: 0.75;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	-webkit-opacity: 0.75;	
	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;	
	
	display: none;
	position: absolute;
	z-index: 500;
}

#secondary div#secondaryRight div#carousel div#carouselPosters {
	height: 375px;
	width: 800px;
	margin: 60px 0px 0px 0px;
	position: absolute;
	z-index: 495;
}

#secondary div#secondaryRight div#carousel div#carouselPosters img {  	
	height: 1px;
	width: 1px;
	margin: 75px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: none;	
}

#secondary div#secondaryRight div#carousel div#carouselPosters img.current {  	
	background: url(../images/mov_poster_BK1.png) top center no-repeat;
	/*padding: 4px 5px 0px 5px;*/
}

#secondary div#secondaryRight div#carousel div#carouselPosters img.currenta {  	
	background: url(../images/mov_poster_BK1.png) top center no-repeat;
	/*padding: 4px 4px 0px 4px;*/
}

#secondary div#secondaryRight div#carousel div#carouselPosters img.currentb {  	
	background: url(../images/mov_poster_BK1.png) top center no-repeat;
	/*padding: 3px 3px 0px 3px;*/
}

#secondary div#secondaryRight div#carousel div#carouselPosters img.blank { 
	background: url(../images/mov_poster_BK0.png) top center no-repeat;
	/*padding: 4px 5px 0px 5px;*/ 	
}

#secondary div#secondaryRight div#carousel div#carouselMessage {
	height: 40px;
	width: 800px;
	margin: 420px 0px 0px 0px;
	display: block;
}

#secondary div#secondaryRight div#carousel div#carouselMessage p {
	width: 100%;
	margin: 0px auto 0px auto;
	font-weight: normal;
	font-size: 30px;
	color: white;
	text-align: center;
}

/* secondary.dine */

#dine {
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 700;
}

#dine div#cover {
	background: #000000;
	width: 100%;
	height: 100%;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	-khtml-opacity: 0.65;
	-webkit-opacity: 0.65;
	position: absolute;	
	display: none;	
	z-index: 701;
}

#dine div#step1 {
	background: url(../images/bk_hires_swedish_popup1_patientauthentication.png) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 702;
}

#dine div#step1 div#title	{
	width: 900px;
	height: 50px;
	margin: 150px auto auto 200px;
	display: inline-block;
	float: left;
	position: absolute;
}

#dine div#step1 div#title p	{
	width: 100%;
	color: #000000;
	margin-top: 10px;
	font-size: 32px;
	line-height: 32px;
	font-weight: 500;
	text-align: center;
}

#dine div#step1 div#hello	{
	width: 600px;
	height: 100px;
	margin: 220px auto auto 340px;
	display: inline-block;
	float: left;
	position: absolute;
}

#dine div#step1 div#hello p	{
	width: 600px;
	height: 50px;
	color: #ffffff;
	font-size: 32px;
	margin-top: 0px;
	line-height: 50px;
	font-weight: 500;
	position: relative;
	text-align: center;
}

#dine div#step1 div#hello p.greeting	{
	font-size: 30px;
	margin-top: 10px;
}

#dine div#step1 div#navigation	{
	width: 601px;
	height: 260px;
	margin: 325px auto auto 340px;
	display: inline-block;
	position: absolute;
	display: block;
}

#dine div#step1 div#navigation a	{
	background: rgba(86,162,214,0.75);
	width: 100%;
	color: #ffffff;
	border: none;
	margin-top: 10px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#dine div#step1 div#navigation a.back	{
	width: 297px;
	margin-top: 35px;
	float: left;
}

#dine div#step1 div#navigation a.mainmenu	{
	width: 297px;
	margin-top: 35px;
	float: right;
}

#dine div#step1 div#navigation a span	{
	font-size: 30px;
	line-height: 43px;
	font-weight: normal;
	padding-left: 25px;
	margin-right: 0px;
	text-align: left;
	position: relative;
	display: block;
}

#dine div#step1 div#navigation a span.back, 
#dine div#step1 div#navigation a span.mainmenu	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#dine div#step1 div#navigation a span.active		{
	/*background: rgba(137,220,71,0.65);*/
	background: #2a8c1d;
}

#dine div#step1 div#neither	{
	width: 580px;
	margin: 220px 0px 0px 340px;
	padding: 25px 10px 25px 10px;
	display: inline-block;
	float: left;
	position: absolute;
}

#dine div#step1 div#neither p	{
	width: 580px;
	color: #ffffff;
	font-size: 28px;
	line-height: 40px;
	font-weight: normal;
	position: relative;
	text-align: left;
}

#dine div#step1 div#navigation.neither	{
	width: 601px;
	height: 50px;
	margin: 515px auto auto 340px;
	display: inline-block;
	position: absolute;
	display: block;
}

#dine div#step1 div#navigation.neither a	{
	background: rgba(86,162,214,0.75);
	width: 100%;
	color: #ffffff;
	border: none;
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#dine div#step1 div#navigation.neither a.close	{
	width: 600px;
	float: left;
}

#dine div#step1 div#navigation.neither a span	{
	font-size: 32px;
	line-height: 43px;
	font-weight: 500;
	padding-left: 110px;
	margin-right: 0px;
	text-align: left;
	position: relative;
	display: block;
}

#dine div#step1 div#navigation.neither a span.close	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#dine div#step1 div#navigation.neither a span.active		{
	/*background: rgba(137,220,71,0.65);*/
	background: #2a8c1d;
}

#dine div#step2,
#dine div#step3 {
	background: url(../images/bk_hires_swedish_popup2_diet_and_instructions.png) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 702;
}

#dine div#step2 div#title,
#dine div#step3 div#title	{
	width: 900px;
	height: 50px;
	margin: 150px auto auto 200px;
	display: inline-block;
	float: left;
	position: absolute;
}

#dine div#step2 div#title p,
#dine div#step3 div#title p	{
	width: 100%;
	color: #000000;
	margin-top: 10px;
	font-size: 32px;
	line-height: 32px;
	font-weight: 500;
	text-align: center;
}

#dine div#step2 div#message	{
	width: 1060px;
	height: 370px;
	margin: 220px auto auto 110px;
	display: inline-block;
	float: left;
	position: absolute;
}

#dine div#step3 div#message	{
	width: 1000px;
	height: 370px;
	margin: 220px auto auto 150px;
	display: inline-block;
	float: left;
	position: absolute;
}

#dine div#step2 div#message p	{
	width: 100%;
	color: #ffffff;
	font-size: 28px;
	line-height: 36px;
	margin-top: 5px;
	font-weight: normal;
	position: relative;
	text-align: left;
}

#dine div#step3 div#message p	{
	width: 100%;
	color: #ffffff;
	font-size: 32px;
	line-height: 40px;
	font-weight: 300;
	position: relative;
	text-align: left;
}

#dine div#step2 div#message p.menu	{
	margin-top: 20px;
	color: #b1da92;
}

#dine div#step2 div#message p.description	{
	font-size: 28px;
	line-height: 36px;
	margin-top: 0px;
}

#dine div#step3 div#message p.indent	{
	margin-left: 25px;
}

#dine div#step3 div#message p.bump	{
	margin-top: 30px;
}

#dine div#step2 div#navigation,
#dine div#step3 div#navigation	{
	width: 601px;
	height: 260px;
	margin: 570px auto auto 340px;
	display: inline-block;
	position: absolute;
	display: block;
}

#dine div#step2 div#navigation a,
#dine div#step3 div#navigation a	{
	background: rgba(86,162,214,0.75);
	width: 100%;
	color: #ffffff;
	border: none;
	margin-top: 10px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#dine div#step2 div#navigation a.next,
#dine div#step3 div#navigation a.next	{
	width: 297px;
	margin-top: 35px;
	float: left;
}

#dine div#step2 div#navigation a.back,
#dine div#step3 div#navigation a.back	{
	width: 297px;
	margin-top: 35px;
	float: right;
}

#dine div#step2 div#navigation a span,
#dine div#step3 div#navigation a span	{
	font-size: 32px;
	line-height: 43px;
	font-weight: 500;
	padding-left: 110px;
	margin-right: 0px;
	text-align: left;
	position: relative;
	display: block;
}

#dine div#step2 div#navigation a span.next, 
#dine div#step2 div#navigation a span.back,
#dine div#step3 div#navigation a span.next, 
#dine div#step3 div#navigation a span.back	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#dine div#step2 div#navigation a span.active,
#dine div#step3 div#navigation a span.active		{
	/*background: rgba(137,220,71,0.65);*/
	background: #2a8c1d;
}

/* dine meals */

#secondary.dine {
	background: url(../images/bk_swedish_secondlevel1_final.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 0;
}

#secondary.dine div#secondaryLeft	{
	width: 330px;
	height: 580px;
	margin: 140px auto auto 65px;
	display: block;
	float: left;
	position: absolute;
	display: none;
}

#secondary.dine div#secondaryLeft div#secondaryTitle	{
	width: 324px;
	height: 52px;
	border: 0px;
	margin: 3px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#secondary.dine div#secondaryLeft div#secondaryTitle.submenu	{
	width: 328px;
	height: 54px;
	border: 0px;
	margin: 5px 0px 4px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;		
}

#secondary.dine div#secondaryLeft div#secondaryTitle p.menu	{
	width: 100%;
	color: #ffffff;
	margin-top: 20px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 300;
	text-align: center;
}

#secondary.dine div#secondaryLeft div#secondaryTitle p.submenu	{
	width: 100%;
	color: #ffffff;
	margin-top: 10px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
}

#secondary.dine div#secondaryLeft div#choices	{
	width: 328px;
	height: 394px;
	border: 0px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryLeft div#choices a	{
	color: #ffffff;
	width: 326px;
	height: 43px;
	border: none;
	margin: 5px 2px 0px 2px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

/* CHANGE BEG: 20120206-1000 bsears - implement previous/next scrolling for publishing groups */
/* CHANGE BEG: 20120223-0730 bsears - dine issue via Dennis: swap Previous/Next button positions */
/*#secondary.dine div#secondaryLeft div#choices a.prev	{*/
#secondary.dine div#secondaryLeft div#choices a.more	{
/* CHANGE END: 20120223-0730 bsears - dine issue via Dennis: swap Previous/Next button positions */
	background: rgba(86,162,214,0.75);
	width: 161px;
	color: #ffffff;
	border: none;
	margin-top: 15px;
	padding: 0px;
	position: relative;
	display: block;
}
/* CHANGE END: 20120206-1000 bsears - implement previous/next scrolling for publishing groups */

/* CHANGE BEG: 20120223-0730 bsears - dine issue via Dennis: swap Previous/Next button positions */
/*#secondary.dine div#secondaryLeft div#choices a.more	{*/
#secondary.dine div#secondaryLeft div#choices a.prev	{
/* CHANGE END: 20120223-0730 bsears - dine issue via Dennis: swap Previous/Next button positions */
	background: rgba(86,162,214,0.75);
/* CHANGE BEG: 20120206-1000 bsears - implement previous/next scrolling for publishing groups */
	width: 162px;
	float: right;
	margin-right: 0px;
	margin-left: 0px;
/* CHANGE END: 20120206-1000 bsears - implement previous/next scrolling for publishing groups */
	color: #ffffff;
	border: none;
	margin-top: 15px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryLeft div#choices a.vieworder	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 3px;
	padding: 0px;
	position: relative;
	display: block;
}

/* CHANGE BEG: 20120215-1700 bsears - dine issue via Tami: prev/next goes green with vieworder */
#secondary.dine div#secondaryLeft div#choices a.dimm,
/* CHANGE END: 20120215-1700 bsears - dine issue via Tami: prev/next goes green with vieworder */
#secondary.dine div#secondaryLeft div#choices a.dim	{
	background: rgba(86,162,214,0.75);
	color: #ababab;
	border: none;
	margin-top: 3px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryLeft div#choices a.back	{
	background: rgba(86,162,214,0.75);
	width: 161px;
	color: #ffffff;
	border: none;
	margin-top: 3px;
	margin-right: 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryLeft div#choices a.mainmenu	{
	background: rgba(86,162,214,0.75);
	/*width: 162px;*/
	color: #ffffff;
	border: none;
	margin-top: 3px;
	/*margin-right: 0px;
	margin-left: 0px;*/
	padding: 0px;
	/*float: right;*/
	position: relative;
	display: block;
}

#secondary.dine div#secondaryLeft div#choices a span	{
	font-size: 30px;
	line-height: 43px;
	font-weight: normal;
	padding-left: 15px;
	text-align: left;
	/*overflow: hidden;*/
	position: relative;
	display: block;
}

/* CHANGE BEG: 20120206-1000 bsears - implement previous/next scrolling for publishing groups */
#secondary.dine div#secondaryLeft div#choices a span.prev,
/* CHANGE END: 20120206-1000 bsears - implement previous/next scrolling for publishing groups */
#secondary.dine div#secondaryLeft div#choices a span.more, 
#secondary.dine div#secondaryLeft div#choices a span.vieworder,
/* CHANGE BEG: 20120215-1700 bsears - dine issue via Tami: prev/next goes green with vieworder */
#secondary.dine div#secondaryLeft div#choices a span.dimm,
/* CHANGE END: 20120215-1700 bsears - dine issue via Tami: prev/next goes green with vieworder */
#secondary.dine div#secondaryLeft div#choices a span.dim,
#secondary.dine div#secondaryLeft div#choices a span.back, 
#secondary.dine div#secondaryLeft div#choices a span.mainmenu	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#secondary.dine div#secondaryLeft div#choices a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}

#secondary.dine div#secondaryRight	{
	background: url(../images/imgs_orderfood.png) bottom right no-repeat;
	width: 885px;
	height: 518px;
	margin: 202px auto auto 395px;
	float: left;
	position: relative;
	display: none;
}

#secondary.dine div#secondaryRight div#choicepanel	{
	color: #ffffff;
	width: 500px;
	height: 354px;
	margin: 0px 0px 0px 0px;
	font-size: 32px;
	line-height: 43px;
	font-weight: 300;
	text-align: left;	
	display: block;
	position: absolute;
}

/* dine menus */

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel1	{
	width: 450px;
	min-height: 300px;
	border: 0px;
	margin: 3px 0px 0px 50px;
	padding: 0px;
	float: left;
	position: relative;
	display: inline-block;
	z-index: 500;	
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel1 p	{
	width: 100%;
	height: 43px;
	border: none;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel4	{
	background: #173453;
	width: 500px;
	height: 347px;
	border: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	padding-top: 6px;
	float: left;
	position: absolute;
	display: none;
	z-index: 495;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel4 a	{
	color: #ffffff;
	width: 446px;
	height: 43px;
	border: none;
	margin: 5px 2px 0px 2px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel4 a.more	{
	background: rgba(86,162,214,0.75);
	width: 246px;
	border: none;
	padding: 0px;
	margin-top: 13px;
	float: left;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel4 a.back	{
	background: rgba(86,162,214,0.75);
	width: 246px;
	border: none;
	padding: 0px;
	margin-top: 13px;
	float: right;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel4 a span	{
	width: 246px;
	font-size: 30px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 50px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel4 a span.more,
#secondary.dine div#secondaryRight div#choicepanel div#choicepanel4 a span.back	{
	color: #ffffff;
	font-size: 28px;
	text-align: center;
	padding-left: 0px;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel4 a span.active		{
	width: 100%;
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}

/* dine recipes */

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel0	{
	width: 700px;
	min-height: 60px;
	border: 0px;
	margin: 10px 0px 0px 50px;
	padding: 0px;
	float: left;
	position: relative;
	display: inline-block;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel0 p	{
	width: 100%;
	height: 50px;
	font-size: 26px;
	line-height: 50px;
	font-weight: normal;
	border: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel5	{
	width: 450px;
	min-height: 300px;
	border: 0px;
	margin: 5px 0px 0px 50px;
	padding: 0px;
	float: left;
	position: relative;
	display: inline-block;
	display: none;
	z-index: 600;	
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel5 p	{
	width: 430px;
	height: 38px;
	font-size: 28px;
	line-height: 38px;
	border: none;
	margin: 2px 0px 0px 0px;
	padding: 0px;
	/*overflow: hidden;*/
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel5 p span	{
	width: 40px;
	height: 40px;
	border: none;
	margin: -3px 0px 0px -35px;
	padding: 0px;
	position: relative;
	float: left;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel5 p span.ordered	{
	background: url(../images/checkmark-swedish-nobox2.png) top center no-repeat;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel5 p.overflow	{
	background: url(../images/more.png) bottom left no-repeat;
	display: none;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel5 p.menu	{
	color: #b1da92;
	width: 100%;
	height: 43px;
	font-size: 32px;
	line-height: 43px;
	border: none;
	margin: 5px 0px 3px 0px;
	padding: 0px;
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6	{
	background: #173453;
	width: 500px;
	height: 338px;
	border: 0px;
	margin: 60px 0px 0px 0px;
	padding: 0px;
	padding-top: 15px;
	float: left;
	position: absolute;
	display: none;
	z-index: 595;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a	{
	color: #ffffff;
	width: 448px;
	height: 38px;
	border: none;
	margin: 2px 0px 0px 2px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a.menu	{
	color: #ffffff;
	width: 446px;
	height: 43px;
	border: none;
	margin: 5px 2px 3px 2px;
	padding: 0px;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a.more	{
	background: rgba(86,162,214,0.75);
	width: 246px;
	height: 43px;
	border: none;
	padding: 0px;
	margin-top: 12px;
	margin-right: 2px;
	float: left;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a.back	{
	background: rgba(86,162,214,0.75);
	width: 246px;
	height: 43px;
	border: none;
	padding: 0px;
	margin-top: 12px;
	margin-right: 2px;
	float: right;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a span	{
	width: 448px;
	font-size: 28px;
	line-height: 38px;
	font-weight: 300;
	padding-left: 50px;
	text-align: left;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a span.more,
#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a span.back	{
	width: 246px;
	color: #ffffff;
	font-size: 28px;
	line-height: 43px;
	text-align: center;
	padding-left: 0px;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a span.dim	{
	width: 246px;
	color: #ababab;
	font-size: 28px;
	line-height: 43px;
	text-align: center;
	padding-left: 0px;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a span.more.active,
#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a span.back.active	{
	width: 100%;
	/*background: rgba(137,220,71,0.75);*/	
	background: #2a8c1d;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel6 a span.active		{
	width: 100%;
	/*background: rgba(137,220,71,0.75) url(../images/thisone.png) 460px center no-repeat;*/
	background: #2a8c1d url(../images/thisone.png) 460px center no-repeat;	
}


#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 	{
	/*background: #55a0d5;*/
	background: #275384;
	color: #ffffff;
	width: 290px;
	height: 333px;
	border: 0px;
	margin: 60px 0px 0px 500px;
	padding: 10px 15px 10px 15px;
	float: left;
	position: absolute;
	display: none;
	z-index: 596;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p	{
	width: 100%;
	height: 120px;
	font-size: 26px;
	line-height: 30px;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
	display: block;
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p.description	{
	width: 100%;
/*	CHANGE BEG: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
/*	height: 56px;	*/
	height: 84px;
/*	CHANGE END: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
	font-size: 26px;
	font-weight: normal;
	line-height: 28px;
	overflow: hidden;
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	display: block;
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p.price	{
	color: #e9ef99;
	width: 100%;
/*	CHANGE BEG: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
/*	height: 28px;
	line-height: 28px;	*/
	height: 42px;
	line-height: 42px;
/*	CHANGE END: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
	font-size: 26px;
	font-weight: normal;
	overflow: hidden;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	display: block;
	position: relative;
	float: left;
}

/*#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p.description span.price	{
	color: #e9ef99;
}*/

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p.nutrients	{
	color: #ffffff;
	width: 100%;
/*	CHANGE BEG: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
/*	min-height: 28px;	*/
	height: 192px;
/*	CHANGE END: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
	margin: 0px;
	padding: 0px;
	display: inline-block;
	position: relative;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p.nutrients span	{
/*	CHANGE BEG: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
/*	height: 28px;
	line-height: 28px;	*/
	height: 32px;
	line-height: 32px;
/*	CHANGE END: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
	font-size: 26px;
	display: block;
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p.nutrients span.left	{
	width: 60%;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p.nutrients span.right	{
	/*width: 35%;*/
	float: right;
	text-align: right;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel7 p.nutrients span.farright	{
	/*width: 35%;*/
	width: 35px;
	font-size: 20px;
	float: right;
	text-align: right;

}

/* CHANGE BEG: 20120202-0130 bsears - high priority change: dine exit confirmation panel(s) */
/*
#secondary.dine div#secondaryRight div#choicepanel div#choicepanel8	{
	background: url(../images/bk_swedish_popup_error.png) top center no-repeat;
	color: #ffffff;
	width: 557px;
	height: 401px;
	border: 0px;
	margin: 40px 0px 0px 325px;
	padding-top: 40px;
	position: absolute;
	display: none;
	z-index: 998;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel8 p	{
	width: 100%;
	height: 38px;
	font-size: 30px;
	line-height: 38px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: block;
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel8 a	{
	background: rgba(34,77,122,0.75);
	width: 246px;
	height: 43px;
	border: none;
	margin: 275px 0px 0px 155px;
	padding: 0px;
	position: absolute;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel8 a.yes	{
	margin: 250px 0px 0px 28px;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel8 a.no	{
	margin: 250px 0px 0px 278px;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel8 a span	{
	width: 100%;
	color: #ffffff;
	font-size: 26px;
	line-height: 43px;
	font-weight: 300;
	text-align: center;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel8 a span.active		{
	/*background: rgba(137,220,71,0.75);*/
/*	background: #2a8c1d;
}
*/
/* CHANGE END: 20120202-0130 bsears - high priority change: dine exit confirmation panel(s) */

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel9	{
	background: url(../images/bk_swedish_popup_error.png) top center no-repeat;
	color: #ffffff;
	width: 557px;
	height: 401px;
	border: 0px;
	margin: 40px 0px 0px 325px;
	padding-top: 40px;
	position: absolute;
	display: none;
	z-index: 999;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel9 p	{
	width: 100%;
	height: 38px;
	font-size: 30px;
	line-height: 38px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: block;
	position: relative;
	float: left;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel9 a	{
	background: rgba(34,77,122,0.75);
	width: 246px;
	height: 43px;
	border: none;
	margin: 275px 0px 0px 155px;
	padding: 0px;
	position: absolute;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel9 a span	{
	width: 100%;
	color: #ffffff;
	font-size: 26px;
	line-height: 43px;
	font-weight: 300;
	text-align: center;
	position: relative;
	display: block;
}

#secondary.dine div#secondaryRight div#choicepanel div#choicepanel9 a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}

/* view order */

#dine div#order {
	background: url(../images/bk_swedish_dineorder.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	/*z-index: 800;*/
}

#dine div#order div#title	{
	width: 300px;
	height: 50px;
	margin: 150px 0px 0px 80px;
	display: inline-block;
	float: left;
	position: absolute;
}

#dine div#order div#title p	{
	width: 100%;
	color: #ffffff;
	margin-top: 10px;
	font-size: 32px;
	line-height: 32px;
	font-weight: 500;
	text-align: center;
}

#dine div#order div#navigation	{
	width: 460px;
	height: 300px;
	margin: 260px auto auto 31px;
	display: inline-block;
	position: absolute;
	/*z-index: 801;*/
	display: block;
}

#dine div#order div#navigation.bar	{
	width: 1200px;
	height: 43px;
/* CHANGE BEG: 20120203-1100 bsears - high priority change: view order button additions and changes */
	/*margin: 604px auto auto 200px;*/
	margin: 604px auto auto 50px;
/* CHANGE END: 20120203-1100 bsears - high priority change: view order button additions and changes */
	display: inline-block;
	position: absolute;
	display: block;
}

#dine div#order div#navigation.close	{
	width: 300px;
	height: 43px;
	margin: 604px auto auto 490px;
	display: inline-block;
	position: absolute;
	display: block;
}

#dine div#order div#navigation a	{
	width: 100%;
	color: #ffffff;
	border: none;
	/*margin-top: 7px;*/
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

/* CHANGE BEG: 20120203-1100 bsears - high priority change: view order button additions and changes */
#dine div#order div#navigation a.prev,
#dine div#order div#navigation a.exit,
/* CHANGE END: 20120203-1100 bsears - high priority change: view order button additions and changes */
#dine div#order div#navigation a.close,
#dine div#order div#navigation a.more,
#dine div#order div#navigation a.back,
#dine div#order div#navigation a.order	{
	background: rgba(86,162,214,0.75);
/* CHANGE BEG: 20120203-1100 bsears - high priority change: view order button additions and changes */
	/*width: 297px;*/
	width: 232px;
/* CHANGE END: 20120203-1100 bsears - high priority change: view order button additions and changes */
	margin-top: 0px;
	margin-right: 3px;
	float: left;
}

#dine div#order div#navigation a.dim	{
	background: rgba(86,162,214,0.75);
	color: #ababab;
/* CHANGE BEG: 20120203-1100 bsears - high priority change: view order button additions and changes */
	/*width: 297px;*/
	width: 232px;
/* CHANGE END: 20120203-1100 bsears - high priority change: view order button additions and changes */
	margin-top: 0px;
	margin-right: 3px;
	float: left;
}

#dine div#order div#navigation a span	{
	font-size: 32px;
	line-height: 36px;
	font-weight: 500;
	padding-left: 110px;
	margin-right: 0px;
	margin-bottom: 7px;
	text-align: left;
	position: relative;
	display: block;
}

/* CHANGE BEG: 20120203-1100 bsears - high priority change: view order button additions and changes */
#dine div#order div#navigation a span.prev,
#dine div#order div#navigation a span.exit,
/* CHANGE END: 20120203-1100 bsears - high priority change: view order button additions and changes */
#dine div#order div#navigation a span.close,
#dine div#order div#navigation a span.more,
#dine div#order div#navigation a span.dim,
#dine div#order div#navigation a span.back, 
#dine div#order div#navigation a span.order	{ 
	line-height: 43px;
	font-size: 26px;
	padding-left: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#dine div#order div#navigation a span.active		{
	/*background: rgba(137,220,71,0.65);*/
	background: #2a8c1d;
}

#dine div#order div#recipes	{
	width: 1200px;
	height: 300px;
	margin: 260px 0px 0px 41px;
	display: inline-block;
	position: absolute;
	z-index: 802;
	display: block;
}

#dine div#order div#recipes p	{
	width: 1240px;
	height: 43px;
	font-size: 24px;
	line-height: 43px;
	font-weight: 300;
	color: #ffffff;
	border: none;
	/*margin-top: 7px;*/
	padding: 0px;
	float: left;
	position: relative;
	display: inline-block;
}

/*#dine div#order div#recipes p img	{
	width: 40px;
	position: relative;
	margin-top: -5px;
	display: block;
}*/

#dine div#order div#recipes p span	{

/*	CHANGE BEG: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
/*	width: 275px;	*/
	width: 385px;
/*	CHANGE END: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
	position: relative;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	display: block;
}

#dine div#order div#recipes p span.description	{
}

#dine div#order div#recipes p span.quantity	{
	/*background: url(../images/checkbox-swedish-2.png) 0px -3px no-repeat;*/
	width: 36px; 
	height: 36px;
	text-align: center;
}

#dine div#order div#recipes p span.nutrient	{
	width: 110px; 
	font-size: 22px;
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#recipes p span.calories	{
	width: 85px; 
	font-size: 22px;
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#recipes p span.price	{
	width: 100px; 
	color: #e9ef99;
	font-size: 22px;
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#heading	{
	width: 1200px;
	height: 43px;
	margin: 220px 0px 0px 41px;
	display: inline-block;
	position: absolute;
	z-index: 802;
	display: block;
}

#dine div#order div#heading p	{
	width: 1240px;
	height: 43px;
	font-size: 24px;
	line-height: 43px;
	font-weight: 300;
	color: #ffffff;
	border: none;
	padding: 0px;
	float: left;
	position: relative;
	display: inline-block;
}

#dine div#order div#heading p span	{
	color: #b1da92;
/*	CHANGE BEG: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
/*	width: 315px;	*/
	width: 425px;
/*	CHANGE END: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
	position: relative;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	display: block;
}

#dine div#order div#heading p span.nutrient	{
	width: 110px; 
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#heading p span.calories	{
	width: 85px; 
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#heading p span.price	{
	width: 100px; 
	color: #e9ef99;
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#totals	{
	width: 1200px;
	height: 43px;
	margin: 495px 0px 0px 41px;
	display: inline-block;
	position: absolute;
	z-index: 802;
	display: block;
}

#dine div#order div#totals p	{
	width: 1240px;
	height: 43px;
	font-size: 24px;
	line-height: 43px;
	font-weight: 300;
	color: #ffffff;
	border: none;
	padding: 0px;
	float: left;
	position: relative;
	display: inline-block;
}

#dine div#order div#totals p span	{
/*	CHANGE BEG: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
/*	width: 265px;	*/
	width: 375px;
/*	CHANGE END: 20120201-1230 bsears - widened description field; pushing nutrients to the right to accomodate removal of cholesterol	*/
	position: relative;
	margin-left: 50px;
	margin-right: 5px;
	margin-top: 5px;
	float: left;
	display: block;
}

#dine div#order div#totals p span.underline	{
	width: 1150px;
	height: 3px;
	border-top: 2px solid white;
	margin-left: 0px;
	margin-right: 50px;
	position: relative;
	float: right;
	display: block;
}

#dine div#order div#totals p span.nutrient	{
	width: 110px; 
	margin-left: 0px;
	font-size: 22px;
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#totals p span.calories	{
	width: 85px; 
	margin-left: 0px;
	font-size: 22px;
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#totals p span.price	{
	width: 100px; 
	color: #e9ef99;
	margin-left: 0px;
	font-size: 22px;
	text-align: right;
	margin-right: 0px;
}

#dine div#order div#totals p span.instruction	{
	width: 1240px;
	color: #b1da92;
	font-size: 24px;
	line-height: 43px;
	font-weight: 300;
	margin-top: 5px;
	position: relative;
	text-align: center;
	float: right;
	display: block;
}

#dine div#order div#message	{
	width: 850px;
	min-height: 50px;
	margin: 220px 0px 0px 225px;
	display: inline-block;
	position: absolute;
	display: block;
}

#dine div#order div#message p	{
	width: 100%;
	min-height: 50px;
	font-size: 34px;
	line-height: 50px;
	font-weight: normal;
	color: #ffffff;
	margin-top: 10px;
	border: none;
	text-align: center;
	position: relative;
	display: inline-block;
}

#dine div#order div#message p.bump	{
	margin-top: 40px;
}

#dine div#order div#message p span	{
	color: #ffff67;
}

/* quantity */

#dine div#quantity	{
	background: url(../images/bk_swedish_popup_error.png) top center no-repeat;
	color: #ffffff;
	width: 557px;
	height: 401px;
	border: 0px;
	margin: 200px 0px 0px 375px;
	position: absolute;
	display: none;
	z-index: 999;
}

#dine div#quantity div#left	{
	background: url(../images/quantity.png) center center no-repeat;
	width: 225px;
	height: 250px;
	margin: 50px 0px 0px 25px;
	float: left;
}

#dine div#quantity div#left p	{
	width: 225px;
	height: 155px;
	font-size: 56px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	padding-top: 98px;
	display: block;
	position: relative;
	float: left;
}

#dine div#quantity div#right	{
	width: 250px;
	height: 250px;
	margin: 50px 50px 0px 0px;
	float: right;
}

#dine div#quantity div#right p	{
	width: 100%;
	font-size: 26px;
	line-height: 28px;
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	text-align: left;
	display: block;
	position: relative;
}

#dine div#quantity div#right p.bump	{
	margin-top: 15px;
}

#dine div#quantity div#right p.zero	{
	color: #ffff67;
	font-size: 26px;
	line-height: 28px;
	margin-top: 15px;
}

#dine div#quantity a	{
	background: rgba(34,77,122,0.75);
	/*background: rgba(86,162,214,0.75);*/
	width: 246px;
	height: 43px;
	border: none;
	margin: 305px 0px 0px 25px;
	padding: 0px;
	position: absolute;
	display: block;
}

#dine div#quantity a.cancel	{
	margin: 305px 0px 0px 281px;
}

#dine div#quantity a span	{
	width: 100%;
	color: #ffffff;
	font-size: 26px;
	line-height: 43px;
	font-weight: 300;
	text-align: center;
	position: relative;
	display: block;
}

#dine div#quantity a span.active		{
	/*background: rgba(137,220,71,0.75);*/	
	background: #2a8c1d;
}

/* CHANGE BEG: 20120202-0130 bsears - high priority change: dine exit confirmation panel(s) */

#dine div#exit {
	background: url(../images/bk_hires_swedish_popup1_patientauthentication.png) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 900;
}

#dine div#exit div#title	{
	width: 900px;
	height: 50px;
	margin: 150px auto auto 200px;
	display: inline-block;
	float: left;
	position: absolute;
}

#dine div#exit div#title p	{
	width: 100%;
	color: #000000;
	margin-top: 10px;
	font-size: 32px;
	line-height: 32px;
	font-weight: 500;
	text-align: center;
}

#dine div#exit div#message	{
	width: 600px;
	height: 300px;
	margin: 220px auto auto 340px;
	float: left;
	position: absolute;
	display: block;
}

#dine div#exit div#message p	{
	width: 600px;
	height: 42px;
	color: #ffffff;
	font-size: 30px;
	margin-top: 0px;
	line-height: 42px;
	font-weight: 400;
	position: relative;
	text-align: center;
}

/* CHANGE BEG: 20120207-1000 bsears - dine issue via Tami: display error panel if place order submission fails */
#dine div#exit div#message p.error	{
	margin-top: 25px;
}
/* CHANGE END: 20120207-1000 bsears - dine issue via Tami: display error panel if place order submission fails */

#dine div#exit div#navigation	{
	width: 601px;
	height: 50px;
	margin: 510px auto auto 340px;
	position: absolute;
	display: block;
}

#dine div#exit div#navigation a	{
	background: rgba(86,162,214,0.75);
	width: 100%;
	color: #ffffff;
	border: none;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
}

#dine div#exit div#navigation a.no	{
	width: 297px;
	float: left;
}

#dine div#exit div#navigation a.yes	{
	width: 297px;
	float: right;
}

#dine div#exit div#navigation a span	{
	font-size: 30px;
	line-height: 43px;
	font-weight: normal;
	padding-left: 25px;
	margin-right: 0px;
	text-align: left;
	position: relative;
	display: block;
}

/* CHANGE BEG: 20120207-1000 bsears - dine issue via Tami: display error panel if place order submission fails */
#dine div#exit div#navigation a span.close,
/* CHANGE END: 20120207-1000 bsears - dine issue via Tami: display error panel if place order submission fails */
#dine div#exit div#navigation a span.no, 
#dine div#exit div#navigation a span.yes	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#dine div#exit div#navigation a span.active		{
	background: #2a8c1d;
}

/* CHANGE END: 20120202-0130 bsears - high priority change: dine exit confirmation panel(s) */

/* tertiary panel */

#tertiary {
	background: url(../images/bk_swedish_secondlevel1_final.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 0;
}

#tertiary.movies {
	background: url(../images/bk_swedish_movies_final.jpg) top center no-repeat;
}

#tertiary div#tertiaryLeft	{
	width: 330px;
	height: 580px;
	margin: 140px auto auto 65px;
	display: inline-block;
	float: left;
	position: absolute;
	display: none;
}

#tertiary div#tertiaryLeft div#tertiaryTitle	{
	width: 324px;
	height: 52px;
	border: 0px;
	margin: 3px 3px 3px 3px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#tertiary div#tertiaryLeft div#tertiaryTitle.submenu	{
	width: 328px;
	height: 54px;
	border: 0px;
	margin: 5px 0px 4px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#tertiary div#tertiaryLeft div#tertiaryTitle p.menu	{
	width: 100%;
	color: #ffffff;
	margin-top: 20px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 300;
	text-align: center;
}

#tertiary div#tertiaryLeft div#tertiaryTitle p.submenu	{
	width: 100%;
	color: #ffffff;
	margin-top: 10px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
}

#tertiary div#tertiaryLeft div#controls	{
	width: 330px;
	height: 310px;
	border: 0px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;	
}

#tertiary div#tertiaryLeft div#controls p	{
	color: #ffffff;
	width: 328px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-top: 10px;
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls p.choice	{
	font-size: 32px;
}

#tertiary div#tertiaryLeft div#controls p.title	{
	font-size: 26px;
}

#tertiary div#tertiaryLeft div#controls p.duration	{
	font-size: 24px;
}

#tertiary div#tertiaryLeft div#controls a	{
	color: #ffffff;
	width: 328px;
	height: 43px;
	border: none;
	margin: 0px auto 0px auto;
	padding: 0px;
	padding-top: 10px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.bookmark	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.play	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.back	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.mainmenu	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a.remove	{
	background: rgba(86,162,214,0.75);
	color: #ffffff;
	border: none;
	margin-top: 18px;
	padding: 0px;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a span, #tertiary div#tertiaryLeft div#controls p	{
	font-size: 32px;
	line-height: 43px;
	font-weight: 300;
	padding-left: 50px;
	text-align: left;
	position: relative;
	display: block;
}

#tertiary div#tertiaryLeft div#controls a span.bookmark, 
#tertiary div#tertiaryLeft div#controls a span.play, 
#tertiary div#tertiaryLeft div#controls a span.back, 
#tertiary div#tertiaryLeft div#controls a span.mainmenu,
#tertiary div#tertiaryLeft div#controls a span.remove	{ 
	font-size: 26px;
	padding-left: 0px;
	text-align: center;
}

#tertiary div#tertiaryLeft div#controls a span.active		{
	/*background: rgba(137,220,71,0.75);*/
	background: #2a8c1d;
}

#tertiary div#tertiaryLeft div#controls a span.working		{
	background: rgba(14,52,97,1.0);
}

#tertiary div#tertiaryRight	{
	width: 875px;
	height: 518px;
	margin: 202px auto auto 400px;
	float: left;
	position: absolute;
	display: none;
}

#tertiary div#tertiaryRight div#controlimage	{
	width: 850px;
	height: 480px;
	margin: auto;
	float: left;
	position: relative;
}

#tertiary div#tertiaryRight div#controlimage div#comments	{
	color: #ffffff;
	width: 650px;
	margin: 75px 0px 0px 100px;
	display: inline-block;
}

#tertiary div#tertiaryRight div#controlimage div#comments p	{
	font-size: 32px;
	line-height: 42px;
	font-weight: 400;
	text-align: left;
}

#tertiary div#tertiaryRight div#controlimage div#movie {
	width: 725px;
	height: 390px;
	margin: 10px 0px 0px 25px;
	display: inline-block;
	float: left;
}

#tertiary div#tertiaryRight div#controlimage div#movie p	{
	width: 450px;
	color: #ffffff;
	text-align: left;
	float: left;
	font-size: 28px;
	line-height: 32px;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.poster	{
	background: url(../images/mov_poster_BK1.png) top center no-repeat;
	width: 250px;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.poster img	{
	width: 240px;
	height: 330px;
	margin: 5px 0px 0px 5px;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.title	{
	margin: 0px 0px 10px 25px;
	font-size: 36px;
}

#tertiary div#tertiaryRight div#controlimage div#movie p.rating,
#tertiary div#tertiaryRight div#controlimage div#movie p.duration	{
	margin: 0px 0px 10px 25px;
	font-size: 28px;
}


#tertiary div#tertiaryRight div#controlimage div#movie p.synop	{
	margin: 25px 0px 10px 25px;
	font-size: 24px;
}

#tertiary div#tertiaryRight div#controlimage div#message	{
	width: 100%;
	height: 90px;
	margin: 25px 0px 0px 25px;
	color: #ffffff;
	text-align: left;
	float: left;
	font-size: 28px;
	line-height: 32px;
}


/* video_win */

#video_win {
	background: #ffffff;
	width: 1280px;
	height: 720px;
	display: none;
	position: absolute;
	z-index: 999;
}

/* loading... */

#loading {
	width: 400px;
	height: 75px;
	margin-top: 25px;
	margin-left: 25px;
	display: block;
	position: absolute;
	z-index: 999;
}

#loading #loadinginfo {
	/*background: #56a2d6;*/
	background: #113663;
	color: white;
	width: 100%;
	height: 100%;
}

#loading #loadinginfo p {
	font-size: 32px;
	font-weight: bold;
	padding: 25px;
}

/* test overlay */

/*#testoverlay {
	height: 100%;
	width: 100%;
	display: none;
	z-index: 999;
}*/

/*#testoverlay p {	*/
#testoverlay {
	background: #000000;
	color: #ff0000;
	width: 100px;
	height: 50px;
	position: absolute;
	margin-top: 15px;
	margin-left: 1140px;
	font-size: 38px;
	font-weight: normal;
	display: none;
	z-index: 999;
}

/* footer */

#footer {
	width: 1280px;
	height: 25px;
	margin-top: 720px;
	position: absolute;
	z-index: 100;
}

#footer p.copyright {
	margin: 0px auto 0px auto;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	color: rgba(67,67,67,0.75);
	position: relative;	
}

#kontrol	{
	display: none;
}

#kookies	{
	display: none;
}

#json	{
	display: none;
}

#xml	{
	display: none;
}

#preload	{
	display: block;
	z-index: -1;
	position: absolute;
	left: 1279px;
	top: 719px;
	width: 1px;
	height: 1px;
}

