/*
*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 5000px;
	width: 12000px;
}

body	{
	font-family: "HelveticaNeue LT 55 Roman", Helvetica, Arial, sans-serif;
	width: 100%;
}

#clear {
clear: both;
}

*/

/* watchtv grid */

#watchtv {
	height: 100%;
	width: 100%;
	display: none;
}

#gridbg {
	background:#55a0d5 url(../images/loading.gif) 575px 425px no-repeat;
	/*background: url(../images/gridbg.png) top center no-repeat;*/
	/*background: none;*/	
	width: 1280px;
	height: 720px;
	position: absolute;
	z-index: 0;
}

#gridcover {
	background: url(../images/gridcover.png) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
	z-index: 20;
}

#gridinfo	{
	width: 1145px;
	height: 650px;
	margin: 100px 0px 0px 68px;
	position: absolute;
	z-index: 25;
}

#gridinfo div#current	{
	width: 1145px;
	height: 185px;
	position: absolute;
}

#gridinfo div#current p	{
	width: 1100px;
	min-height: 32px;
	color: #000000;
	font-size: 32px;
	line-height: 32px;	
	float: left;	
}

#gridinfo div#current p.title	{
	width: 750px;
	margin-top: 10px;
	color: #55a0d5;
	overflow: hidden;
}

#gridinfo div#current p.channel	{
	color: #55a0d5;
	width: 350px;
	margin-top: 10px;
	text-align: right;
	padding-right: 10px;
	float: right;
}

#gridinfo div#current p.time	{
	font-size: 28px;
}

#gridinfo div#current p.synopsis	{
	font-size: 28px;
	line-height: 32px;
}

#gridinfo div#current p.message	{
	width: 400px;
	height: 25px;
	color: #55a0d5;
	font-size: 24px;
	text-align: center;
	margin: 30px 0px 0px 350px;
}

#gridinfo div#current p.date	{
	width: 225px;
	height: 25px;
	color: #55a0d5;
	font-size: 24px;
	text-align: right;
	margin: 30px 0px 0px 150px;
}

#gridinfo div#current img	{
	width: 300px;
	height: 185px;
	float: right;
}

#gridpanel {
	height: 100%;
	width: 100%;
	display: inline-block;
	position: absolute;
	z-index: 0;
}

#gridpanel.today {
	width: 229px;
	height: 48px;
	margin: 308px 0px 0px 68px;
	position: absolute;
	z-index: 3;
}

#gridpanel.today div {
	background: #333367;
	height: 32px;
	width: 213px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	border: 3px ridge #dddddd;
	padding: 5px;
	position: relative;
	float: left;	
}

#gridpanel.channel {
	height: 4800px;
	width: 229px;
	margin: 356px 0px 0px 68px;
	position: absolute;
	z-index: 2;
}

#gridpanel.channel div {
	background: #3d58b1;
	height: 32px;
	width: 213px;
	color: #ffffff;
	font-size: 22px;
	border: 3px ridge #dddddd;
	padding: 5px;
	position: relative;
	float: left;	
}

#gridpanel.time {
	height: 48px;
	width: 10992px;
	margin: 308px 0px 0px 297px;	
	display: inline-block;
	position: absolute;
	z-index: 1;
}

#gridpanel.time div {
	background: #333367;
	height: 32px;
	width: 213px;
	color: #ffffff;
	font-size: 24px;
	border: 3px ridge #dddddd;
	padding: 5px;
	position: relative;
	float: left;	
}

#gridpanel.program {
	height: 4800px;
	width: 10992px;
	margin: 356px 0px 0px 297px;	
	display: inline-block;
	position: absolute;
	z-index: 0;
}

#gridpanel.program div#channel {
	height: 48px;
	width: 10992px;
}

#gridpanel.program div#channel div {
	background: #339933;
	height: 32px;
	width: 213px;
	color: #ffffff;
	font-size: 24px;
	border: 3px ridge #dddddd;
	padding: 5px;
	position: relative;
	float: left;	
}

#gridpanel.program div#channel div.active	{
	color: #000000;
	background: #ffff66;
}

#gridpanel.program div#channel div.D30	{
	width: 213px;
}

#gridpanel.program div#channel div.D60	{
	width: 442px;
}

#gridpanel.program div#channel div.D90	{
	width: 671px;
}

#gridpanel.program div#channel div.D120	{
	width: 900px;
}

#gridpanel.program div#channel div.D150	{
	width: 1129px;
}

#gridpanel.program div#channel div.D180	{
	width: 1358px;
}

#gridpanel.program div#channel div.D210	{
	width: 1587px;
}

#gridpanel.program div#channel div.D240	{
	width: 1816px;
}

#gridpanel.program div#channel div.D270	{
	width: 2045px;
}

#gridpanel.program div#channel div.D300	{
	width: 2274px;
}

#overlay {
	background: #000000;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 999;
}

#overlay #channelinfo {
	/*background: #56a2d6;*/
	background: #113663;
	color: white;
	width: 400px;
	height: 75px;
	display: none;
	position: absolute;
	margin-top: 25px;
	margin-left: 25px;
}

#overlay #channelinfo p {
	font-size: 32px;
	font-weight: bold;
	padding: 25px;
}

/*
#grid {
	display: inline-block;
	float: left;
}`*/









/*old*/


/*


#grid table	{
	float: left;
}

#grid table#today	{
	width: 219px;
}

#grid table#channel	{
	width: 219px;
}

#grid table#time	{
}

#grid table#program	{
}

#grid input	{
	height: 32px;
	color: #ffffff;
	font-size: 28px;
	border: 3px ridge #dddddd;
	padding: 5px;
}

#grid input.D30	{
	width: 213px;
	float: left;
}

#grid input.D60	{
	width: 442px;
}

#grid input.D90	{
	width: 671px;
}

#grid input.D120	{
	width: 900px;
}

#grid input#time	{
	background: #333367;
}

#grid input#time.center	{
	text-align: center;
}

#grid input#channel	{
	background: #3d58b1;
}

#grid input#program {
	background: #339933;
}

#grid input#program.active	{
	color: #000000;
	background: #ffff66;
}*/

/* footer */

/*
#footer {
	width: 1280px;
	height: 25px;
	margin-top: 720px;
	position: absolute;
	z-index: 100;
}

#footer p.copyright {
	margin: 0px auto 0px auto;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	color: rgba(67,67,67,0.75);
	position: relative;	
}

#kookies	{
	display: none;
}

#json	{
	display: none;
}

#preload	{
	display: none;
}

*/

